{sub_dirs, ["rel"]}.
{erl_opts, [debug_info, fail_on_warning]}.
{deps, [
    {ebi_core, ".*", {git, "https://github.com/kape1395/ebi_core.git", {branch, "master"}}},
   %{ebi_mc2,  ".*", {git, "https://github.com/kape1395/ebi_mc2.git",  {branch, "master"}}},
    {ebi_web,  ".*", {git, "https://github.com/kape1395/ebi_web.git",  {branch, "master"}}}
]}.
