[
    %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    %%  Dependent applications
    %%
    {sasl, [
        {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "log/sasl"},      % Log directory
        {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
        {error_logger_mf_maxfiles, 5}           % 5 files max
    ]},
    {lager, [
        {handlers, [
            {lager_console_backend, warning},
            {lager_file_backend, [
                {"log/lager_error.log", error, 10485760, "$D0", 5},
                {"log/lager_console.log", info, 10485760, "$D0", 5}
            ]}
        ]},
        {crash_log, "log/lager_crash.log"}
    ]},
    {mnesia, [
        {dir, "data/mnesia/db"}
    ]},
    {yaws, [
        {conf, "etc/yaws.conf"},
        {embedded, false}
    ]},
    %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    %%  EBI
    %%
    {ebi_core, [
    ]},
   %{ebi_mc2, [
   %    {name, ebi_mc2_queue},
   %    {clusters, [
   %        {cluster, ebi_mc2_cluster_mif,
   %            "uosis.mif.vu.lt", 22, "karolis",
   %            "/home/karolis/.ssh-ebi_mc2",
   %            "/users3/karolis/PST/bin/cluster", 10000, [
   %                {partition, "long", 100}
   %            ]
   %        }
   %    ]},
   %    {result_dir, "/tmp"},
   %    {embedded, false}
   %]},
    {ebi_web, [
    ]}
    %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
].

